{
    "using_congfig_file":true,
    "device_id":0,
    "device_name":"LaserCat",

    "version":"0.1",
    "ap_ssid":"LaserCat",
    "ap_ip":"10.0.1.1",
    "ap_gateway":"10.0.1.1",
    "ap_mask":"255.255.255.0",

    "server_ip":"192.168.0.42",
    "port_out":9000,
    "port_in":8000,

    "osc_path":"/laserCat",
    "osc_timer_path":"/timer",
    "osc_enable_path":"/enable",

    "keep_alive_path":"/keepAlive",
    "keep_alive_enable":1,
    "keep_alive_timer":5000,

    "laser_path":"/laser",

    "pt_path":"/pt",
    "pt_x_path":"/x",
    "pt_y_path":"/y",
    "pt_xy_path":"/xy",

    "sequence_path":"/seq",
    "sequence_x_min":40,
    "sequence_x_max":110,
    "sequence_y_min":34,
    "sequence_y_max":100,

    "mqtt_server":"192.168.0.10",
    "mqtt_keep_alive_topic":"ka",
    "mqtt_sequence_topic:":"sq"
}